.Rproj.user
.Rhistory
.RData
.Ruserdata
Literature
manuscript/figures/*.pptx
metadata/*.xlsx
metadata//*.PNG
metadata/digitization/*.png
manuscript/figures/*.png
*.tmp
*.docx
metadata/*-1c*
manuscript/lit*
*.log
*.toc
*.aux
*.synctex.gz
metadata/CompadreSchema.
metadata/digitization/*SE.pdf
metadata/digitization/*rsg.pdf
metadata/build_artefacts/*
metadata/*.csv
metadata/digitization/*.html
