.Rproj.user
.Rhistory
.RData
.Ruserdata
Literature
metadata/*.pptx
metadata/*.xlsx
metadata/digitization/*.png
*.docx
metadata/*-1c*
manuscript/lit*
*.html
*.log
*.toc
*.aux
*.synctex.gz
metadata/CompadreSchema.
metadata/digitization/*SE.pdf
metadata/digitization/*rsg.pdf
metadata/build_artefacts/*
