.Rproj.user
.Rhistory
.RData
.Ruserdata
Literature
metadata/*.pptx
metadata/*.xlsx
metadata/digitization/*.png
*.docx
metadata/*-1c*
manuscript/lit*
*.html
*.log
*.toc
*.synctex.gz
metadata/CompadreSchema.jpg
